

/* Fuente general  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body{
    /* font-family: 'Fira Sans', sans-serif, Helvetica; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* font-weight: bolder; */
    

 }

 /* Scroll personalizado para firefox */
 html{
    overflow-y:visible;
    scrollbar-color: #01445e transparent !important;
    scrollbar-width: thin !important;
    top: auto;
 }
/* scroll personalizado para navegadores diferentes a mozilla */
/*Webkit*/
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
body::-webkit-scrollbar-track {
    background-color: transparent;
  }
body::-webkit-scrollbar-thumb {
    background-color: #01445e;
  }

.slides::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
.slides::-webkit-scrollbar-track {
    background-color: transparent;
  }
.slides::-webkit-scrollbar-thumb {
    background-color: #01445e;
  }


/* Header */
/* 1.- Barra de navegacion del header */

.header_nav{
    
    background-color: #01445e;
    font-size: small;
    
    transition: 1s;
}


.fix{
    position: sticky;
    top:0%;
    z-index: 99;
}
.bg-logo{
    background-color: #FFF;
    border-radius: 0;

}
.bg-logo img{
    padding-left: 10px;
   
}

.container_contactos{
    background-color: #01445e;
    text-align: center;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 0%;
    margin: 0%;

}
.contact_block{

    text-align: center;
    
    /* padding-top: 2%;
    margin-bottom: 0%;
    padding-bottom: 0%; */
    color: rgb(255, 255, 255);
    margin-top: 2%;
    border: none;
    margin: 0% ;
     
}
.icon{
    width: 40px !important;
    padding: 0%;
    margin: 0%;
  
}

.icon_tienda:hover{

    background-color: #004966;
    
}



.text_nav{
    
    padding: 0%;
    margin: 0%;
    
}





/* Menu  opciones */
.container_opciones{
    text-align: center;
    display: flex;
    align-items: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(223, 223, 230,10) 50%, rgba(1, 68, 94,0.8));
    /* background: linear-gradient(180deg, rgb(223, 223, 230) 50%, rgba(29,30,31,0.5)); */
      
}

   
   

.nav_opciones{
    
    align-items: center;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    background: linear-gradient(180deg, rgb(223, 223, 230,3) 50%, rgba(1, 68, 94,0.2));
    position: relative;
    
    

}
.nav_opciones a{

    width: 25%;
    /* evita que la altura cambie cuando el tama単o del font aumenta */
    height: 1.8rem;
    padding: 0%;
    text-decoration: none;
    color: #01445e;

}
.nav_opciones :hover{

    width: 25%;
    background-color: #e9eef1d8;
    transition: 0.3s;
    font-size: 1.3rem;
    
    
}


/* background base del nav */
.bg_nav{
    background-color: #FFF;
    z-index: -100;
    position:relative;
}
 
/* End header secction */


/* Start content section */


.slider-container {
    /* background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%);
        */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 7.9%; */    
    height: 201.5vh;
    padding: auto;
    /* margin-top: 200%; */
   
}

.slider {
    
    width: 100%;
    max-width: 3500px;
    /* height: 201.5vh; */
    height: 100%;

    text-align: center;
    /* position: relative; */
    
    position:static;

    
}

.slides {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%;
    padding: 0%;
    /* height: 201vh; */
    scrollbar-color: #01445e transparent;
    scrollbar-width: thin;
    height: 100%;



}
.slide:nth-of-type(even) {
    background-color: rgb(228, 228, 226);
}

.slide {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    /* height: 200vh; */
    height: 100%;
    margin-right: 0px;
    padding: 0px;   
    margin-bottom: -4.77%;
    flex-direction: column;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
    /* ojo esta propiedad */
    /* overflow: hidden; */
    left: auto;
    top:auto;

    transition: 0.8s;
  
   
  
}
.slide img{
    /* width: 50%; */
    width: 100%;
    margin: 0%;
    /* padding: 0%; */
    height: 72%; 
    
    
}

.bg_img{
    margin: 0%;
    padding: 0%;
}
/* #slides__1 img{
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 78.25%; 

} */
.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}




/* Flechas de navegacion*/

/* .slide a {
    position: absolute;
    top: 48vh;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
} */
/* .slide a {
    background: none;
    border: none; 
    
}

a.slide__prev,
.slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
    top: 19.7%;  
    

}

a.slide__next,
.slider::after {
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
    top: 19.7%;
    
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
    position: absolute;
    top: 19.55%;
    width: 35px;
    height: 35px;
    border: solid rgb(231, 231, 231);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

.slider::before,
.slider::after {
    
  content: '';
  z-index: 1;
  background: none;
  pointer-events: none;
  
} */


/* pesta単as y puntos de direccion */
.txt__{
    color: #004966;
    /* z-index: 9999; */
   
}

/* titulos de secciones */
.container_titulos{
    position: absolute;
    background-color: #ffffff50;
    width: 50%;
    height: 30%;
    top:8%;
    left:45%;
    float: inline-start;
    padding: 0%;
    margin: 0%;
    border-radius: 2%;
    color: #01445e;
    box-shadow: 0.5em 0.5em 1em 0 rgba(20, 20, 20, 0.3);
    /* filter: blur(4px); */
   
    
    
}
.glass_effect {
    /* background-color: rgba(255, 255, 255, 0); */
    backdrop-filter: blur(0.2rem);
    /*For Safari, firefox does not support this type of effect yet */
    -webkit-backdrop-filter: blur(0.2rem);
  }
.container_titulos_inv{
    width: 100%;
    height: 100%;
    padding-top: 15%;
    padding-left: 2%;
    border-radius: 2%;
    box-shadow: inset 0.5em 0.5em 2em 0 rgba(20, 20, 20, 0.15);
}
.container_titulos h1{
    padding-left: 0%;
    margin-left: 0%;
    text-align: start;
    font-size: 5.2em;
    

}
.container_titulos p{
    margin-top: 0%;
    text-align: start;
    font-size: 1.2em;


}
/* parte inferior infomrativa de los sliders */
/* informacion de las secciones */
/* **************************+ */
/* seccion inicio */

.info_sections{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 84vh;
    padding-top: 0%;
    margin-top: 0%;
    background-color: #ffffff;
    z-index: 30;
    /* border: 2px solid red; */
    
}
    
.info{
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    /* height: 38.3vh;    */
    height: 19.3%;
    width: 100%;
}


.info_title_r{
    position: relative;
    width: 33%;
    display: flex;
    background-color:#01445e;
    padding: 0%;
    margin: 0%;
    color: #FFF;
    align-items: center;
    /* padding-left: 8.2%;  */
}
.info_title_r h1{
    position: absolute;
    padding-left: 27%;

}
.info_title_l{
    position: relative;
    display: flex;
    align-items: center;
    width: 33%;
    text-align: center;
    /* background-color: #01445e; */
    padding: 0%;
    margin: 0%;
    color: #FFF;
    
}
.info_title_l h1{
    position: absolute;
    padding-left: 27%;
}

/* sombreado laterales */
.slide_sombra_d{
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 19.25%;
    background: linear-gradient(90deg, tomato , rgba(255, 255, 255, 0) 30% );
    opacity: 0.6;
    

}
.slide_sombra_i{
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 19.25%;
    top: 0%;
    right: 0%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 70% , tomato );
    opacity: 0.6;
}
.slide_sombra_d:hover{
    
    width: 50%;
    height: 20%;
}
.slide_sombra_i:hover{
    width: 50%;
    height: 20%;
}
/* minislider informativo */
.mini_slider{
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
    
    

}
.mini_slider ul{
    display: flex;
    padding: 0%;
    width: 360%;
    animation: slider_cambio 12s infinite alternate;
    animation-timing-function: ease-in; 
}

.mini_slider li{
    width: 100%;
    list-style: none;

}
.mini_slider img{
    width: 100%;

}
@keyframes slider_cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    40%{margin-left: -120%;}
    66%{margin-left: -120%;}
    90%{margin-left: -240%;}
    100%{margin-left: -240%;}
}
/* end mini slider */

.info:hover{
    height: 20%;
    transition: 0.5s;
    display: flex;
    background-color: #01445e23;
    box-sizing: border-box;
    display:flex;
    align-items: stretch;
    padding: 0%;
    margin: 0%;
}

.info_text{
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;   
}
/* **************************+ */
/* seccion perspectiva */
.info_sections_perspectiva{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 84vh;
    padding-top: 0%;
    margin-top: 0%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    /* border: 2px solid slateblue; */
    
}
.info_perspectiva{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    height: 115vh; 
    width: 100%;
    align-items: center;
}
.info_img_perspectiva{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(219, 219, 219);
    width: 90%;
    height: 33%;
    margin-top: 1%;

}


.info_title_perspectiva{
    width: 100%;
    height: 10%;
    display: flex;
    background-color:#01445e;
    padding: 0%;
    margin: 0%;
    color: #FFF;
    justify-content: center;
    align-items: center;
    /* padding-left: 8.2%; */
}

.info_perspectiva:hover{
    height: 116vh;
    transition: 0.5s;
    display: flex;
    background-color: #01445e23;
    box-sizing: border-box;
}

.info_text_perspectiva{
    
    width: 100%;
    height: 57%;
    display: flex;
    padding: 2%;
    align-items: flex-start;
    align-content:flex-start; 
    padding-top: 5%;  
    flex-direction: column;
    

}
ul{

    text-align: start ;
}

/* Seccion nosotros */
.info_title_nosotros{
    width: 100%;
    height: 10%;
    display: flex;
    background-color:#ffffff;
    padding: 0%;
    margin: 0%;
    color: #01445e;
    justify-content: center;
    align-items: center;
    /* padding-left: 8.2%; */
}

.info_text_nosotros{
    
    width: 100%;
    height: 45%;
    display: flex;
    padding: 2%;
    align-items: flex-start;
    align-content:flex-start; 
    padding-top: 5%;  
    flex-direction: column;
    background-color: #FFF;
    

}
.info_img_nosotros{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(219, 219, 219);
    width: 90%;
    height: 45%;
    margin-top: 1%;

}

/* **************************+ */
/* Pesta単a Contactanos */
    /* Formulario  */

.info_sections_4{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 84vh;
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: row; 
    }
.container_form{  
    width: 50%; 
    height: 100%;    
    border-radius: 10px;  
    /* padding-top: 30px; */
    padding: 2%;
    background-color: #fbfbfb; 
    
  }
.formulario form{
    align-items: center;
    align-content: center;
}
.formulario h1{
    color: #01445e;
    font-weight: lighter;
}
.formulario div{
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    /* background-color: #ab4493; */
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #01445e;
}
.formulario label{
    width: 20%;
    text-align: start;
    font-weight: lighter;
}
.formulario input{
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.formulario textarea{
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
  
input{
    background-color: #fbfbfb; 
    width: 80%; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #01445e; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

form{
background-color: #ffffff;
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    /* border-color: #ab4493;  */
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}



.formulario button{
    width: 100%;
    padding:2%;
    background-color:#01445e; 
    border-radius: 10px;  
    cursor: pointer;
}


button p{
    color: #fff; 
    margin-bottom: 0%;
}
button:hover{
    background-color: #015677;
}

/*   
  span{
    color: #ab4493; 
  }
   */
  
.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}
/* mapa */
.container_map{
    width: 50%;
    height: 100%;
    background-color: #01445e;
    padding: 3%;
}
.container_map p{
    color: #FFF;
    /* background-color: aqua; */
    /* padding: -10; */
    
    text-align:center;
    /* width: 60%; */
    
}
.container_map img{
    width: 5%;
    padding-top: 0.5%;
    margin-right: 2%;


}
.container_map div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    /* background-color: red; */
    padding: 0%;
}

/* Dise単o responsivo */
/* ++++++++++++++++++++++++++++++++++++ */
@media (max-width: 900px) {
    body{
        font-size: 14px;
    }
}
@media (max-width: 700px) {
    body{
        font-size: 11px;
    }
}
@media (max-width: 400px) {
    body{
        font-size: 7px;
    }
}